/*MEDIA QUERIES PARA BOTONES*/

@media (max-width:480px){
    .boton{
        width: 100%;
    }
    .boton-comprar{
        width: 100%;
    }
    .boton-formulario{
        width: 100%;
    }
    .boton-playlist{
        width: 118px;
        height: 32px;
    }
}

@media (min-width: 481px) and (max-width: 768px){
    .boton{
        width: 80%;
    }
    .boton-comprar{
        width: 80%;
    }
    .boton-formulario{
        width: 80%;
    }
    .boton-playlist{
        width: 120px;
        height: 32px;
    }
}

/*MEDIA QUERIES PARA GALERIA*/

@media (min-width:768px){
    .container-galeria{
        grid-template-columns: repeat(3, 1fr);
    }

    .item-galeria:nth-child(1){
        grid-column-start: span 2;
    }

    .item-galeria:nth-child(3){
        grid-column-start: span 2;
    }
    
    .item-galeria:nth-child(8){
        grid-column-start: span 2;
    }

    .item-galeria:nth-child(9){
        grid-column-start: span 3;
    }
    
    .item-galeria:nth-child(7){
        grid-row-start: span 2;
    }
}

@media (min-width:1024px){
    .container-galeria{
        grid-template-columns: repeat(4, 1fr);
    }

    .item-galeria:nth-child(1){
        grid-column-start: span 2;
    }

    .item-galeria:nth-child(2){
        grid-column-start: span 2;
    }
    
    .item-galeria:nth-child(3){
        grid-column-start: span 2;
    }
    
    .item-galeria:nth-child(8){
        grid-column-start: span 2;
    }

    .item-galeria:nth-child(9){
        grid-column-start: span 2;
    }
    
    .item-galeria:nth-child(7){
        grid-row-start: span 2;
    }

    .item-galeria:nth-child(6){
        grid-row-start: span 2;
    }
}
